<ion-header>
  <ion-toolbar>
    <ion-title>Videoclub App</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="estiloMenu">
    <p>Esta es la aplicación de gestión del videoclub, aquí podrás ver todas las películas que tenemos,
     crear nuevos registros de películas, actualizar datos de las ya existentes o eliminar alguna película.</p>
     <ion-grid id="posBotones">
      <ion-button href="/aniadir-peli" expand="full">Añadir película</ion-button>
      <ion-button href="/actualizar-peli" expand="full">Actualizar película</ion-button>
      <ion-button href="/borrar-peli" expand="full">Borrar película</ion-button>
     </ion-grid>
  </div>
</ion-content>
